#categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 30px;
}

.category,
.productCard {
  aspect-ratio: 16/9;
  position: relative;
}

.category > div {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.category > h1 {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    rgba(226, 37, 129, 0.5),
    rgba(110, 96, 164, 0.5),
    rgba(34, 171, 204, 0.5),
    rgba(201, 203, 15, 0.5)
  );

  width: 100%;
  color: white;
  padding: 1.5vh;
}

@media (max-width: 700px) {
  #categories {
    grid-template-columns: 1fr;
  }
}
