#info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-image: linear-gradient(90deg, #e22581, #6e60a4, #22abcc, #c9cb0f);
  color: white;
}
#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  letter-spacing: 0.8px;
  position: relative;
  z-index: 1;
}
#menu h1 {
  letter-spacing: 3px;
}
#menu ul {
  margin-left: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2vw;
  font-weight: bold;
}
#menu li {
  transition: all 250ms;
  border-radius: 5px;
  padding: 5px;
}
#menu a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

#menu li:hover {
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  margin: 0 10px;
}
#headerCategories {
  position: relative;
}
#headerCategories > section {
  display: none;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(90deg, #e22581, #6e60a4, #22abcc, #c9cb0f);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 0 10px white;
  max-height: 40vh;
}
#headerCategories:hover > section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

#headerCategories > section > a {
  border-bottom: 1px solid white;
  border-radius: 0px;
  white-space: nowrap;
  padding: 2px;
}

#headerCategories > section > a:hover {
  box-shadow: 0 0 10px white;
  border: 1px solid white;
}
#logo {
  width: 7rem;
}
#contact-banner {
  display: flex;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
  letter-spacing: 1.2px;
}
#social {
  display: grid;
  gap: 5px;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 100;
}
#social a {
  padding: 5px;
  padding-right: 10px;
  border-radius: 5px 0 0 5px;
  transition: all 250ms;
  display: flex;
  align-items: center;
}
#social img,
#socialfooter img {
  position: relative;
  width: 2.5rem;
  aspect-ratio: 1/1;
}

#social a:hover {
  transform: scale(1.1);
  right: 1rem;
  padding-right: 20px;
  margin: 10px 0;
}

footer {
  color: white;
  background-image: linear-gradient(90deg, #e22581, #6e60a4, #22abcc, #c9cb0f);
  display: flex;
}
footer > div {
  flex: 1;
}
