.screen {
  width: 100%;
}
.roll {
  display: flex;
  overflow: hidden;
  animation: Casserole 1s ease 5s infinite;
}
.roll > div {
  width: 100%;
  min-width: 100%;
}

@keyframes Casserole {
  100% {
    transform: translateX(100%);
  }
}
